body {
    text-align: center;
}

h1 {
    font-family: 'Bungee Shade', cursive;
    font-size: 70px;
    margin: 0.2em;
}

h2 {
    font-family: 'Bungee Shade', cursive;
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

span {
  font-family: 'Bungee', cursive;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 30px;
}

td {
    width: 30px;
}

input[type=number] {
    width: 6em;
}
